
#ddb {
border:1px solid #F5F5F5;
margin:0;
padding:0;
width:100%;
height:628px;
background-image:url(../img/ddb.jpg);
background-repeat:no-repeat;
background-position:right;
background-color:#F5F5F5;
font-family:"Segoe UI",arial,verdana,tahoma;
}


#hero1{
margin:0;
color:#8E525D;
padding:90px 0 0 3%;
font-weight:200;
width:355px;
font-size:2em;
line-height:1.3;
}

#hero2{
font-size:1em;
color:#8E525D;
padding:5px 0 0 3%;
font-weight:100;
width:345px;
line-height:1.7}

#butdb {
margin-top:85px;
background-color:#007EE5;
color:white;
font-size:1.12em;
text-decoration:none;
height:40px;
width:530px;
padding:8px 15px 0 15px;
border-radius:8px;
display:block;
}
#partdb {
margin-top:45px;
margin:50px 0 0 3%;
font-size:1em;
}

#butdb:hover {
background-color:#3398EA;
}
#now:hover {
color:#3398EA;
}

@media (max-width:570px) {
		#ddb {background-image:none; font-size:0.8em;}
		#butdb {width:auto; height:auto; text-align:center}
		
}