
#oculus{
margin:0;
padding:0;
}
ui {
margin:0;
border:1px solid red;
}
#ocul{
background-color:black;
padding:0;
margin:0px;
cursor:pointer;
list-style-type:none;
width:100%;
height:300px;
  display:block; }

.pic3 { 
height:300px;
padding-top:80px;
		    text-align: center;
		  	opacity:0.4;
			transition:0.2s linear;
			display:block;
		  }
.limits{position:relative;
	background-color:black;
	width:33%;
	height:300px;
	margin:0;	
	 overflow:hidden;
	 float:left; 
	 display:block; 
	 max-width:520px;
				  }  
.texto {
width:80%;
position:absolute;
top:90px;
left:50px;
display:inline;
text-align:center;
font-family:"Segoe UI",arial,verdana,tahoma;
font-weight:200;
}

.topl{
margin:3px;
font-size:14px;
color:grey;}	

.downl{
margin:0;
font-size:20px;
color:white;
line-height:1.2
}				
		

.pic3:hover {	
			-webkit-transform:scale(1.1,1.1);
			transform: scale(1.1,1.1);
			opacity:1;
					}
